.js-plotly-plot .plotly .modebar {
  padding-top: 0%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 0%;
}

.upload{
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
}

.upload p, .upload a {
  display: inline;
}

.Select-control{
  border: 1px solid #203cb3;
}

.app_header {
  display: flex;
  align-items: right;
  background-color: #eeeeee;
  height: 100px;
}

.header_text {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: auto;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.greeting_text {
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
  padding-top: 50px;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%- 40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%- 40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  color: #ff6488;
  border-color: #ff6488;
}

.loop-container {
  -webkit-tap-highlight-color: transparent;
}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

._dash-loading::after {
  font-size: 60px;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  color: #FFB8B8;
  border-radius: 50%;
  margin: auto;
  vertical-align: middle;
  animation: load6 1s infinite ease, round 1s infinite ease;
  margin-top: 200px;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  
@media only screen and (max-width: 320px){
  .Select-menu-outer, .Select-value{
    font-size: 10.5px;
  }
  .upload{
    padding: 5px;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .upload{
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    font-size: small;
  }

  .columns{
    width: 100%;
  }

  .card, .card-left{
    padding: 24px;  
    margin: 0px;
  } 

  .bg-white{
    height: auto;
  }
  
  .study-browser-banner{
    padding-left: 24px;
  }

  .logo{
    height: 28px;
    padding-left:0px;
    padding-bottom:0px;
  }

  .div-logo{
    float: left;
    display: block;
    width: 100%;
  }

  .h2-title{
    display:none;
  }

  .h2-title-mobile{
    display:block;
    float:left;
  }

  .app-body{
    margin-left: 0px;
  }

  .four.columns                   { width: 100%; }
  .eight.columns                  { width: 100%; }

  .columns{
    text-align: center;
  }

  .user-control{
    padding-top: 24px;
    padding-bottom: 24px;
  }
}